*{
    margin: 0;
}

html,
body {
    --black: hsl(240, 6%, 13%);
    --gray: hsl(240, 9%, 89%);
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: hsl(240, 6%, 8%);
}

body {
    display: grid;
    /*Added itens to center*/
    place-items: center;

}
main{
    background: url(images/background-blue.svg)no-repeat center/cover;  /*function than can add svg background*/
    width: 100vw;
    height:  100vh;
    min-height: 712px;
    /*break points and at rule - search*/
    max-width: 500px;
    max-height: 1000px;
    border-radius: 25px;
    margin: auto;
}

.container{
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--gray);
}
.avatar{
    width: 10rem;
    margin: 11.5rem auto 0; /*Top right button left*/
    position: relative; /*limit of the absolute*/
}

.avatar span{
    position: absolute; /*stacking images in all page*/
    top: -15px;
    z-index: 1;
}
.avatar > img{
    width: 10rem;
    height: 11.5rem;
    object-fit: cover;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
    /*This's a example CSS's comment*/
    font-size: 1.5rem;
    margin-top: 1.5rem;
}

a{
    color: var(--gray);
    text-decoration: none;
    margin-top: .25rem;
    display: flex;
    gap: 0.75rem;
    justify-content: center;
    align-items: center;
}

p{
    margin-top: 2rem;
}

ul {
    margin-top: 4rem;
    list-style: none;
    padding: 0;
    /*one element next to another*/
    display: flex; 
    gap: 0.5rem;
    justify-content: center;
}